header.header
   .container
      .header__row 
         .header__logo-box
            img(src="img/icons/icons.svg#logo", alt="logo").logo.header__logo
            h1.header__logo-text INVESTMENT<br>FUND
         .header__links 
            nav.header__nav 
               ul.header__list 
                  li.header__link-wrapper
                     a(href="#").header__link О компании
                  li.header__link-wrapper
                     a(href="#").header__link Направления работы
                  li.header__link-wrapper
                     a(href="#").header__link Международные переводы
            .burger
               .burger__line
         .header__right
            .theme-switch.header__switch
               img(src="img/icons/icons.svg#sunny", alt="sunny").theme-switch__icon
               img(src="img/icons/icons.svg#night", alt="night").theme-switch__icon
               .theme-switch__circle
            a(href="tel:79775841049").header__number +7 977 584 10 49