.first-screen
   video(src="media/main.mp4", autoplay, muted, loop).first-screen__video
   .container 
      .first-screen__col
         .first-screen__content 
            h2.first-screen__title 100 BTC
            p.first-screen__subtitle пассивный доход от 48% в год в $
            p.first-screen__text инвестиционный фонд международного обменного сервиса
            button.btn Узнайте больше 
   img(src="img/icons/icons.svg#arrow-down", alt="arrow").arrow-down