.first-screen {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 198px;
		width: 100%;
		display: block;
		background: var(--var-screen-bottom);
		transform: matrix(1, 0, 0, -1, 0, 0);
		z-index: 1;
	}
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		object-fit: cover;
		opacity: 0.1;
	}
	&__col {
		min-height: 910px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__content {
		max-width: 656px;
		text-align: center;
	}
	&__title {
		font-family: 'Gotham Pro';
		font-size: 110px;
		line-height: 105px;
		font-weight: bold;
		margin-bottom: 18px;
	}
	&__subtitle {
		font-size: 26px;
		line-height: 31px;
		font-weight: bold;
		margin-bottom: 18px;
	}
	&__text {
		font-size: 22px;
		line-height: 27px;
		color: var(--var-primary-gray);
		margin-bottom: 40px;
	}
	@media ($media_xxl) {
		&__col {
			min-height: 838px;
		}
		&__title {
			font-size: 95px;
		}
		&__subtitle {
			font-size: 22px;
			line-height: 26px;
		}
		&__text {
			font-size: 19px;
			line-height: 24px;
		}
	}
	@media ($media_lg2) {
		&__title {
			font-size: 74px;
			line-height: 71px;
			margin-bottom: 32px;
		}
		&__subtitle {
			margin: 0 auto;
			max-width: 180px;
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 32px;
		}
		&__text {
			max-width: 382px;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 60px;
		}
	}
}
