$map-width: 1200px;
$map-height: 640px;

@function pos-x($val) {
	@return $val/$map-width * 100%;
}
@function pos-y($val) {
	@return $val/$map-height * 100%;
}
.map {
	z-index: -1;
	position: absolute;
	right: 0;
	top: 0;
	&__background-light {
		display: none;
	}
	&_light {
		.map__background {
			display: none;
		}
		.map__star {
			display: none;
		}
		.map__star-orange {
			display: block;
		}
		.map__background-light {
			display: block;
		}
	}
	&__star-orange {
		display: none;
	}
	&__point {
		cursor: pointer;
		position: relative;
		&-center {
			position: relative;
			background: var(--var-map-dot);
			border-radius: 50%;
			width: 16px;
			height: 16px;
			z-index: 1;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 28px;
			height: 28px;
			background: var(--var-map-border);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
		}
	}

	&__item {
		position: absolute;
		display: flex;
		align-items: flex-start;
		&-right {
			.map__info-block {
				left: auto;
				right: -25px;
				&::after {
					left: auto;
					right: 30px;
					transform: rotate(30deg);
				}
			}
		}
		&:nth-of-type(1) {
			top: pos-y(175px);
			right: pos-x(400px);
		}
		&:nth-of-type(2) {
			top: pos-y(202px);
			right: pos-x(563px);
		}
		&:nth-of-type(3) {
			top: pos-y(275px);
			right: pos-x(436px);
		}
		&:nth-of-type(4) {
			top: pos-y(345px);
			right: pos-x(374px);
		}
		&:nth-of-type(5) {
			top: pos-y(277px);
			right: pos-x(125px);
		}
		&:nth-of-type(6) {
			top: pos-y(212px);
			right: pos-x(57px);
		}
		&:nth-of-type(7) {
			top: pos-y(444px);
			right: pos-x(163px);
		}
	}
	&__star {
		cursor: pointer;
		width: 22px;
		height: 22px;
		object-fit: cover;
	}
	&__city {
		font-family: 'Gotham Pro';
		font-weight: bold;
		font-size: 18px;
		line-height: 17px;
		color: var(--var-white);
		margin-bottom: 3px;
	}
	&__country {
		font-family: 'Gotham Pro';
		font-size: 11px;
		line-height: 17px;
		color: var(--var-primary-gray);
	}
	&__info {
		display: flex;
		flex-direction: column;
		&_left {
			text-align: right;
			margin-right: 18px;
		}
		&_right {
			text-align: left;
			margin-left: 18px;
		}
	}
	&__info-block {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		display: block;
		color: var(--var-black);
		padding: 24px;
		width: 275px;
		top: -25px;
		left: -25px;
		transform: translateY(-110%);
		z-index: 10;
		transition: $transition_normal;
		&::before {
			width: 100%;
			height: 100%;
			background: var(--var-white);
			border-radius: 30px;
			content: '';
			left: 0;
			top: 0;
			position: absolute;
			display: block;
			z-index: -1;
		}
		&::after {
			display: block;
			content: '';
			position: absolute;
			z-index: -2;
			left: 30px;
			bottom: -5px;
			transform: rotate(-30deg);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 20px 10px;
			border-color: transparent transparent #d9d9d9 transparent;
		}
		&_active {
			transform: translateY(-100%);
			opacity: 1;
			visibility: visible;
		}
		&-close {
			cursor: pointer;
			position: absolute;
			width: 15px;
			height: 15px;
			right: 25px;
			top: 25px;
			&::before,
			&::after {
				content: '';
				width: 100%;
				height: 1px;
				background: var(--var-primary-gray);
				top: 50%;
				left: 50%;
				transform-origin: center;
				position: absolute;
			}
			&::before {
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&::after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
		&-location {
			font-family: 'Gotham Pro';
			font-weight: bold;
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 10px;
		}
		&-adress,
		&-operations {
			font-size: 13px;
			line-height: 20px;
		}
		&-adress {
			margin-bottom: 15px;
		}
	}
	@media ($media_xxl) {
		right: -100px;
	}
	@media ($media_lg2) {
		position: relative;
		right: 20px;
		width: 100vw;
		&__background {
			width: 100%;
		}
		&__point {
			&-center {
				width: 12px;
				height: 12px;
			}
			&::after {
				width: 20px;
				height: 20px;
			}
		}
		&__city {
			font-size: 13px;
			line-height: 12px;
		}
		&__country {
			font-size: 9px;
		}
		&__info {
			display: flex;
			flex-direction: column;
			&_left {
				margin-right: 12px;
			}
			&_right {
				margin-left: 12px;
			}
		}
	}
	@media ($media_sm2) {
		width: 870px;
		right: 0;
		left: -130%;
	}
}
