.offers {
	position: relative;
	overflow: hidden;
	padding: 140px 0 130px;
	background: var(--var-dark-blue);
	&::after {
		display: none;
		content: '';
		position: absolute;
		width: 1200px;
		height: 53px;
		background: #7cbac3;
		filter: blur(250px);
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&__container {
		position: relative;
		z-index: 1;
	}
	&__title {
		margin-bottom: 50px;
	}
	&__box {
		max-width: 1030px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	&__row {
		margin: -20px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-bottom: 74px;
	}
	&__item {
		max-width: 225px;
		text-align: center;
		margin: 20px 0;
		&-text {
			font-size: 16px;
			line-height: 26px;
		}
	}
	&__check {
		display: block;
		width: 35px;
		height: 27px;
		object-fit: cover;
		margin: 0 auto;
		margin-bottom: 16px;
	}
	@media ($media_xxl) {
		padding: 100px 0 120px;
		&__title {
			margin-bottom: 35px;
		}
		&__item-text {
			font-size: 14px;
			line-height: 24px;
		}
		&__row {
			margin-bottom: 60px;
		}
	}
	@media ($media_md2) {
		&::after {
			display: block;
		}
		&__box {
			margin-bottom: 70px;
		}
	}
	@media ($media_sm) {
		&__row {
			margin: -25px 0;
			flex-direction: column;
			align-items: center;
		}
		&__item {
			margin: 25px 0;
			&-text {
				font-size: 16px;
				line-height: 26px;
			}
		}
	}
}
