* {
	box-sizing: border-box;
	transition: color $transition_fast linear;
}
body {
	color: var(--var-white);
	font-family: 'Inter';
	font-weight: 400;
	background: var(--var-dark);
}
body,
html {
	font-size: $text-base-size;
}
.container {
	max-width: ($container + (2 * $container-padding));
	padding: 0 $container-padding;
	width: 100%;
	margin: 0 auto;
	&_large {
		max-width: $container-lg;
	}
	&_small {
		max-width: $container-sm;
	}
	@media ($media_xxl) {
		max-width: 1000px;
	}
}

.burger {
	cursor: pointer;
	position: relative;
	width: 30px;
	height: 20px;
	&::before,
	&::after,
	&__line {
		position: absolute;
		height: 2px;
		background: var(--var-primary-yellow);
		border-radius: 2px;
	}
	&::before {
		content: '';
		width: 100%;
		right: 0;
		top: 0;
	}
	&::after {
		content: '';
		width: 8px;
		height: 2px;
		bottom: 0;
		right: 0;
	}
	&__line {
		width: 60%;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	&_active {
		&::before {
			transform-origin: center;
			top: 50%;
			transform: translateY(-50%) rotateZ(45deg);
		}
		&::after {
			width: 100%;
			transform-origin: center;
			bottom: 50%;
			transform: translateY(50%) rotateZ(-45deg);
		}
		.burger__line {
			opacity: 0;
		}
	}
}
.theme-switch {
	&.theme-light {
		.theme-switch__circle {
			right: 29px;
		}
	}
	cursor: pointer;
	padding: 6px 8px;
	background: #313131;
	border-radius: 100px;
	display: flex;
	position: relative;
	&__icon {
		display: block;
		width: 15px;
		height: 15px;
		object-fit: cover;
	}
	&__icon:not(:last-of-type) {
		margin-right: 6px;
	}
	&__circle {
		transition: $transition_normal;
		position: absolute;
		width: 18px;
		height: 18px;
		background: #cecece;
		border-radius: 50%;
		top: 5px;
		right: 5px;
	}
}
.primary-gray {
	color: var(--var-primary-gray);
}
.field {
	color: var(--var-white);
	width: 320px;
	padding: 20px 38px;
	border-radius: 50px;
	border: 1px solid #6b6679;
	background: transparent;
	@media ($media_xxl) {
		width: 210px;
	}
}
.row {
	display: flex;
}

.col {
	display: flex;
	flex-direction: column;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.m-0 {
	margin: 0;
}

.logo {
	object-fit: cover;
	width: 100px;
	height: 74px;
}
.arrow-down {
	position: absolute;
	width: 68px;
	height: 48px;
	bottom: 192px;
	left: 50%;
	transform: translateX(-50%);
	animation: arrow 2s infinite ease-in-out;
	@media ($media_xxl) {
		bottom: 100px;
	}
}
.btn {
	cursor: pointer;
	padding: 20px 38px;
	border-radius: 50px;
	font-family: inherit;
	background: var(--var-primary-yellow);
	font-size: 17px;
	line-height: 21px;
	border: none;
	&:focus {
		outline: none;
	}
}
.yellow {
	color: var(--var-yellow);
}
.title {
	position: relative;
	font-size: 60px;
	line-height: 65px;
	font-family: 'Gotham Pro';
	font-weight: bold;
	&__back {
		white-space: nowrap;
		position: absolute;
		font-family: 'Gotham Pro';
		font-weight: bold;
		font-size: 200px;
		line-height: 65px;
		color: transparent;
		text-transform: uppercase;
		opacity: 0.35;
		left: -137px;
		top: -40px;
		-webkit-text-stroke: 1px var(--var-primary-gray);
	}
	@media ($media_xxl) {
		font-size: 44px;
		line-height: 54px;
		&__back {
			font-size: 160px;
		}
	}
	@media ($media_lg2) {
		&__back {
			display: none;
		}
	}
}

.subtitle {
	font-size: 19px;
	line-height: 30px;
	color: var(--var-primary-gray);
	@media ($media_xxl) {
		font-size: 16px;
		line-height: 30px;
	}
}

.check {
	display: flex;
	align-items: center;
	position: relative;
	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
	&__box {
		position: relative;
		cursor: pointer;
		width: 14px;
		height: 14px;
		border-radius: 2px;
		border: 1px solid limegreen;
		margin-right: 10px;
		transition: $transition_normal;
		&::after {
			@include pseudo;
			@include center;
			opacity: 0;
			width: 4px;
			height: 6px;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
			transform: translate(-50%, -50%) rotate(45deg);
			transition: inherit;
		}
	}
	&__input:checked + &__box {
		background-color: limegreen;
		&::after {
			opacity: 1;
		}
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}
@keyframes arrow {
	0% {
		transform: translate(-50%, -30px);
	}
	50% {
		transform: translate(-50%, 0);
	}
	100% {
		transform: translate(-50%, -30px);
	}
}
