// Colors
:root {
	--var-red: #db1515;
	--var-white: #fff;
	--var-primary-gray: #9f9f9f;
	--var-primary-yellow: #cab57b;
	--var-gold: #b19f6d;
	--var-dark: #030007;
	--var-light: #cd7d00;
	--var-black: #000000;
	--var-yellow: #d1a646;
	--var-dark-light: 27, 25, 30;
	--var-dark-gray: #7d7d7d;
	--var-dark-blue: #11111a;
	--var-sky: #90d0da;
	--var-gray: #4c5d6b;
	--var-light-sky: #a5bfd1;
	--var-sand: #e3cb89;
}
[light] {
	--var-dark: #f0f0f0;
	--var-dark-blue: #fff;
	--var-black: #fff;
	--var-white: #000;
}

// Text
$text-base-size: 16px;
$text-base-weight: 400;
$text-big-size: 36px;
$text-bold-weight: 700;

// Transitions
$transition_fast: 0.2s;
$transition_normal: 0.3s;
$transition_slow: 0.6s;

// Containers
$container: 1400px;
$container-lg: 900px;
$container-sm: 600px;
$container-padding: 20px;

// Medias
$media_xxxl: 'max-width: 1400px';
$media_xxl: 'max-width: 1300px';
$media_xl: 'max-width: 1200px';
$media_lg: 'max-width: 1100px';
$media_lg2: 'max-width: 1000px';
$media_lg3: 'max-width: 900px';
$media_md: 'max-width: 800px';
$media_md2: 'max-width: 700px';
$media_sm: 'max-width: 600px';
$media_sm2: 'max-width: 500px';
$media_xs: 'max-width: 400px';

// Z-indexs
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-offcanvas-backdrop: 1040;
$zindex-offcanvas: 1045;
$zindex-modal-backdrop: 1050;
$zindex-modal: 1055;
$zindex-popover: 1070;
$zindex-tooltip: 1080;
$zindex-toast: 1090;
