.about {
	padding: 143px 0 217px;
	overflow: hidden;
	position: relative;
	&::before {
		position: absolute;
		top: 476px;
		right: -110px;
		content: '';
		width: 465px;
		height: 211px;
		opacity: 0.4;
		display: block;
		background: var(--var-light-orange);
		filter: blur(200px);
		transform: rotate(26.73deg);
		border-radius: 400px;
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 128px;
		left: 0;
		bottom: -156px;
		opacity: 0.5;
		filter: blur(200px);
		border-radius: 400px;
		background: var(--var-light);
	}
	&__eclipse {
		display: none;
	}
	&__container {
		position: relative;
		z-index: 1;
	}
	&__row {
		display: flex;
		margin-bottom: 202px;
	}
	&__item {
		margin-right: 30px;
		&-content {
			max-width: 430px;
		}
	}
	&__photo {
		border-radius: 24px;
		overflow: hidden;
		margin-bottom: 96px;
	}
	&__title {
		margin-bottom: 54px;
		&-back {
			left: -500px;
			top: -80px;
			z-index: -1;
		}
	}
	&__text {
		font-size: 19px;
		line-height: 30px;
	}
	&__awards {
		display: flex;
	}
	&__award {
		position: relative;
		display: flex;
		margin-right: 70px;
		&:last-of-type {
			margin-right: 0;
		}
		&:not(:last-child)::after {
			position: absolute;
			right: -35px;
			opacity: 0.5;
			width: 1px;
			height: 100%;
			background: #7d7d7d;
			top: 0;
			content: '';
			display: block;
		}
		&-text {
			max-width: 170px;
			font-size: 16px;
			line-height: 24px;
			&-change {
				margin-bottom: 11px;
			}
		}
		&-change {
			flex-direction: column;
		}
	}
	&__award-year {
		margin-right: 20px;
	}
	&__qualities {
		display: flex;
		justify-content: space-between;
	}
	&__quality {
		max-width: 220px;
	}
	&__quality-icon {
		object-fit: cover;
		width: 80px;
		height: 80px;
		margin-bottom: 40px;
	}
	&__quality-title {
		font-size: 30px;
		line-height: 29px;
		margin-bottom: 24px;
	}
	&__quality-text {
		font-size: 17px;
		line-height: 25px;
		color: var(--var-primary-gray);
	}
	&__img {
		display: block;
		width: 100%;
		object-fit: cover;
	}
	@media ($media_xxl) {
		padding: 130px 0;
		&__text {
			font-size: 16px;
			line-height: 26px;
		}
		&__award {
			&-text {
				font-size: 14px;
				line-height: 20px;
			}
		}
		&__photo {
			max-width: 755px;
			width: 100%;
			margin-bottom: 70px;
		}
		&__title {
			margin-bottom: 40px;
		}
		&__row {
			margin-bottom: 140px;
		}
		&__quality {
			margin-right: 20px;
			&:last-of-type {
				margin-right: 0;
			}
			&-title {
				font-size: 18px;
				line-height: 19px;
				margin-bottom: 12px;
			}
			&-text {
				font-size: 14px;
				line-height: 15px;
			}
		}
	}
	@media ($media_lg2) {
		padding: 100px 0;
		&__row {
			flex-direction: column-reverse;
			margin-bottom: 95px;
		}
		&__item-content {
			width: 100%;
			max-width: none;
			margin-bottom: 50px;
		}
		&__item {
			margin-right: 0;
		}
		&__photo {
			max-width: none;
		}
		&__qualities {
			margin: 0 -30px;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__quality {
			margin: 30px;
			text-align: center;
			width: calc(33.3% - 60px);
			&:last-of-type {
				margin-right: 30px;
			}
		}
	}
	@media ($media_md2) {
		&::before,
		&__eclipse {
			display: block;
			width: 465px;
			height: 211px;
			background: #b19f6d;
			opacity: 0.4;
			filter: blur(200px);
			transform: rotate(26.73deg);
			top: 526px;
			right: -160px;
		}
		&__eclipse {
			right: 0;
			top: 890px;
			left: -160px;
			position: absolute;
		}
		&__qualities {
			margin: -26px 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__quality {
			margin: 25px 0;
			text-align: center;
			max-width: 350px;
			width: 100%;
			&:last-of-type {
				margin-right: 0px;
			}
		}
		&__quality {
			&-title {
				font-size: 30px;
				line-height: 29px;
			}
			&-text {
				font-size: 17px;
				line-height: 25px;
			}
		}
		&__photo {
			margin-bottom: 50px;
		}
		&__award {
			margin-right: 0;
			margin-bottom: 80px;
			&:last-of-type {
				margin-bottom: 0;
			}
			&:not(:last-child)::after {
				right: 0;
				opacity: 0.5;
				width: 100%;
				height: 1px;
				background: #7d7d7d;
				top: auto;
				bottom: -40px;
				content: '';
				display: block;
			}
		}
		&__awards {
			flex-direction: column;
		}
		&__award-change {
			flex-direction: row;
			align-items: center;
		}
		&__award-text-change {
			margin-right: 30px;
			margin-bottom: 0;
		}
		&__award-bestchange {
			width: 178px;
		}
	}
}
