.questions {
	&__row {
		display: flex;
	}
	&__title {
		max-width: 300px;
		font-size: 36px;
		line-height: 48px;
		margin-right: 20px;
	}
	&__fields {
		display: flex;
		margin-bottom: 16px;
	}
	&__field {
		margin-right: 20px;
	}
	&__checkbox {
		flex-shrink: 0;
		position: relative;
		cursor: pointer;
		width: 20px;
		height: 20px;
		border-radius: 5px;
		border: 1px solid #232323;
		margin-right: 18px;
		transition: background $transition_normal;
		img {
			opacity: 0;
			position: absolute;
			width: 12px;
			height: 10px;
			object-fit: cover;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: opacity $transition_normal;
		}
	}
	&__check-input {
		opacity: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		&:checked + .questions__checkbox {
			background: #232323;
			img {
				opacity: 1;
			}
		}
	}
	&__agree {
		display: flex;
		align-items: center;
		&-text {
			font-size: 14px;
			line-height: 30px;
			color: var(--var-dark-gray);
		}
	}
	&__link {
		color: var(--var-white);
		text-decoration: none;
	}

	@media ($media_xxl) {
		&__title {
			font-size: 25px;
			line-height: 40px;
			max-width: 190px;
		}
		&__field {
			margin-right: 15px;
		}
		// &__agree-text {
		// 	font-size: 11px;
		// 	line-height: 27px;
		// }
	}
	@media ($media_lg2) {
		&__row {
			flex-wrap: wrap;
		}
		&__title {
			max-width: none;
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
	@media ($media_md2) {
		&__title {
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 40px;
		}
		&__row {
			flex-direction: column;
			align-items: center;
		}
		&__fields {
			flex-direction: column;
			margin-bottom: 40px;
			align-items: center;
		}
		&__field {
			width: 100%;
			margin-right: 0;
			margin-bottom: 24px;
			&:last-of-type {
				margin-bottom: 40px;
			}
		}
		&__agree {
			align-items: flex-start;
		}
	}
}
