.footer {
	&__row {
		padding: 130px 0;
		display: flex;
		justify-content: center;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&__logo {
		margin-bottom: 35px;
	}
	&__text {
		font-size: 20px;
		line-height: 25px;
	}
	&__socials {
		display: flex;
		margin-bottom: 35px;
	}
	&__social:not(:last-of-type) {
		margin-right: 36px;
	}
	&__social-icon {
		object-fit: cover;
		width: 32px;
		height: 32px;
	}
	&__number {
		font-size: 20px;
		line-height: 24px;
		color: var(--var-white);
		text-decoration: none;
		margin-bottom: 50px;
	}
	&__codes {
		display: flex;
	}
	&__code:not(:last-of-type) {
		margin-right: 64px;
	}
	&__code {
		object-fit: cover;
		width: 128px;
		height: 128px;
	}
	@media ($media_xxl) {
		&__row {
			padding: 120px 0;
		}
	}
	@media ($media_md2) {
		&__code:not(:last-of-type) {
			margin-right: 0px;
			margin-bottom: 64px;
		}
		&__number {
			margin-bottom: 63px;
		}
		&__codes {
			flex-direction: column;
			align-items: center;
		}
	}
}
