footer.footer
   .container
      .footer__row 
         .footer__content
            .footer__logo 
               img(src="img/icons/icons.svg#logo", alt="logo").logo
               p.footer__text INVESTMENT<br>FUND
            .footer__socials 
               a(href="#").footer__social
                  img(src="img/icons/icons.svg#whatsapp", alt="whatsapp").footer__social-icon
               a(href="#").footer__social 
                  img(src="img/icons/icons.svg#telegram", alt="telegram").footer__social-icon
            a(href="tel:#").footer__number +7 977 584 10 49
            .footer__codes 
               img(src="img/icons/icons.svg#whatsapp-qr", alt="whatsapp-code").footer__code
               img(src="img/icons/icons.svg#telegram-qr", alt="telegram-code").footer__code