section.direction 
   .container 
      .direction__row 
         .direction__content 
            h4.title.direction__title Направления деятельности
            ul.direction__list 
               li.direction__list-item.
                  С помощью сервиса 100BTC международные переводы стали доступными. Удобная покупка и продажа криптовалют из любой точки мира. 
               li.direction__list-item.
                  Безопасность клиента наш приоритет, и потому сервис заручился доверием пользователей. 100BTC гарант надежности. Все переводы наших клиентов абсолютно конфиденциальны.
               li.direction__list-item.
                  Комфортный сервис с поддержкой 24/7 от наших менеджеров. Помощь с индивидуальными запросами. Широкий спектр оказываемых услуг и профессиональная компетентность позволяют нашим менеджерам с легкостью решать поставленные задачи. Мы стараемся на благо клиента, поэтому индивидуальный подход к каждому пользователю обеспечен. <span class="yellow"> Для наших VIP-клиентов у нас специальное предложение — персональный менеджер от 100BTC.</span>
         .direction__photo 
            img(src="img/direction/photo.png", alt="coins").direction__img
      include ../popular/popular 
      include ../questions/questions 
