.popular {
	margin-bottom: 150px;
	&__box {
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 80px;
	}
	&__title {
		font-size: 48px;
		line-height: 65px;
		margin-bottom: 40px;
	}
	&__subtitle {
		color: var(--var-primary-gray);
		font-size: 17px;
		line-height: 30px;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 25px;
	}
	&__item {
		border-radius: 30px;
		background: rgba(var(--var-dark-light));
		text-align: center;
		overflow: hidden;
	}
	&__from {
		font-size: 17px;
		line-height: 17px;
	}
	&__subfrom {
		color: var(--var-primary-gray);
		font-size: 13px;
		line-height: 25px;
		margin-bottom: 20px;
	}
	&__countries {
		display: flex;
		justify-content: center;
		&-item:not(:last-of-type) {
			margin-right: 31px;
		}
		&-img {
			display: block;
			width: 40px;
			height: 40px;
			margin-bottom: 8px;
		}
		&-value {
			font-size: 14px;
			line-height: 30px;
		}
	}
	&__top {
		padding: 30px 39px 34px;
	}
	&__bottom {
		padding: 41px 39px 30px;
		background: rgba(var(--var-dark-light));
		border-radius: 30px;
	}
	&__swiper {
		display: none;
		overflow: hidden;
		width: 260px;
		&-wrapper {
			margin-bottom: 27px;
		}
		.swiper-pagination-bullet {
			background: var(--var-dots);
			&-active {
				background: var(--var-primary-yellow);
			}
		}
	}
	&__dots {
		display: flex;
		justify-content: center;
	}
	@media ($media_xxl) {
		margin-bottom: 110px;
		&__grid {
			gap: 10px;
		}
		// &__from {
		// 	font-size: 14px;
		// 	line-height: 14px;
		// }
		// &__subfrom {
		// 	font-size: 10px;
		// 	line-height: 22px;
		// 	margin-bottom: 15px;
		// }
		// &__top {
		// 	padding: 30px 20px 25px;
		// }
		&__title {
			font-size: 42px;
			line-height: 60px;
			margin-bottom: 20px;
		}
		&__box {
			margin-bottom: 50px;
		}
		&__subtitle {
			font-size: 15px;
			line-height: 22px;
		}
		//&__bottom {
		//padding: 30px 20px 25px;
		//}
		&__countries {
			&-item:not(:last-of-type) {
				margin-right: 14px;
			}
			&-img {
				width: 30px;
				height: 30px;
			}
		}
	}
	@media ($media_lg2) {
		&__grid {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			justify-content: center;
		}
		&__countries {
			&-item:not(:last-of-type) {
				margin-right: 31px;
			}
			&-img {
				width: 40px;
				height: 40px;
			}
		}
		&__item {
			max-width: 260px;
		}
	}
	@media ($media_md2) {
		margin-bottom: 80px;
		&__grid {
			display: none;
		}
		&__title {
			font-size: 32px;
			line-height: 40px;
		}
		&__swiper {
			margin: 0 auto;
			display: block;
		}
	}
}
