section.content
   h2 content
   p.animate__animated.animate__bounce Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, ipsum debitis esse recusandae veritatis sint harum unde modi totam iure praesentium nemo a doloribus! Dolorem dignissimos dolorum commodi temporibus sed?
   button.btn click