.team {
	padding: 180px 0 80px;
	position: relative;
	overflow-x: hidden;
	&::before {
		top: -45px;
		position: absolute;
		content: '';
		width: 100%;
		height: 71px;
		background: #beb198;
		opacity: 0.7;
		filter: blur(200px);
	}
	&::after {
		top: 350px;
		right: -190px;
		position: absolute;
		content: '';
		width: 757px;
		height: 156px;
		background: #7cbac3;
		opacity: 0.5;
		filter: blur(200px);
		transform: rotate(-12.21deg);
	}
	&__container {
		position: relative;
		z-index: 1;
	}
	&__title {
		margin-right: 140px;
		&::after {
			content: 'О НАС';
		}
	}
	&__info {
		display: flex;
		align-items: center;
	}
	&__icon-box {
		margin-right: 28px;
	}
	&__wrapper {
		display: flex;
		align-items: flex-end;
		margin-bottom: 70px;
	}
	&__icon {
		object-fit: cover;
		width: 80px;
		height: 80px;
	}
	&__text {
		font-size: 18px;
		line-height: 30px;
		max-width: 300px;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 70px;
	}
	&__item {
		display: flex;
	}
	&__box {
		margin-bottom: 100px;
	}
	&__content {
		max-width: 225px;
	}
	&__name {
		font-size: 26px;
		line-height: 30px;
		margin-bottom: 16px;
	}
	&__position {
		font-size: 16px;
		line-height: 25px;
		color: var(--var-primary-yellow);
	}
	&__photo {
		margin-right: 32px;
	}
	&__img {
		width: 140px;
		height: 140px;
		border-radius: 50%;
		overflow: hidden;
	}
	&__location {
		font-size: 13px;
		line-height: 25px;
		color: var(--var-primary-gray);
	}
	@media ($media_xxl) {
		&__grid {
			gap: 40px;
		}
		&__name {
			font-size: 22px;
			line-height: 26px;
			margin-bottom: 10px;
		}
		&__photo {
			margin-right: 25px;
		}
		&__img {
			width: 110px;
			height: 110px;
		}
		&__position {
			font-size: 12px;
			line-height: 21px;
		}
		&__location {
			font-size: 10px;
			line-height: 25px;
		}
		&__title {
			margin-right: 100px;
		}
		&__wrapper {
			margin-bottom: 50px;
		}
		&__box {
			margin-bottom: 73px;
		}
	}
	@media ($media_lg2) {
		padding: 110px 0;
		&__grid {
			padding: 0 20px;
			grid-template-columns: repeat(2, 1fr);
		}
		&__content {
			max-width: none;
		}
	}
	@media ($media_md2) {
		&__title {
			margin-right: 0;
			margin-bottom: 50px;
		}
		&__wrapper {
			align-items: flex-start;
			flex-direction: column;
			margin-bottom: 48px;
		}
		&__text {
			font-size: 16px;
			line-height: 24px;
		}
	}
	@media ($media_md2) {
		&::after {
			background: #7cbac3;
			opacity: 0.5;
			filter: blur(200px);
			transform: rotate(-12.21deg);
			right: auto;
			top: 873px;
			left: 37px;
		}
		&__grid {
			grid-template-columns: 1fr;
			gap: 60px;
		}
		&__name {
			font-size: 26px;
			line-height: 30px;
		}
		&__position {
			font-size: 16px;
			line-height: 25px;
		}
		&__location {
			font-size: 16px;
			line-height: 25px;
		}
		&__img {
			width: 140px;
			height: 140px;
		}
	}
	@media ($media_sm2) {
		&__grid {
			padding: 0;
		}
	}
}
